section.container {
  min-height: 100vh;
  background-color: #1f1a24;
  padding: 30px;
}

div.button-container {
  min-height: 100px;
  display: flex;
  align-items: flex-end;
}

div.search-container {
  margin-bottom: 30px;
}

div.search-container h1 {
  color: #f7f7f7;
  margin-bottom: 30px;
}

p.no-more-posts {
  color: #f7f7f7;
}
